@import './colors.scss';

#home-container {
    width: 100%;
    position: relative;
    background: $gray-background;
    padding: 100px 0;
    min-height: calc(100vh - 150px);
    transition: all 150ms ease-in-out;

    @media (max-width: 1280px) {
        padding: 100px 24px;
    }

    @media (max-width: 960px) {
        padding: 60px 16px;
    }

    @media (max-width: 768) {
        padding: 60px 16px 100px 16px;
    }

    @media (max-width: 600px) {
        padding: 60px 16px 100px 16px;
    }

    @media (max-width: 480px) {
        padding: 60px 12px 100px 12px;
    }

    @media (max-width: 375px) {
        padding: 60px 8px 100px 8px;
    }

    .home-playground {
        width: 1280px;
        margin: 0 auto;
        transition: all 150ms ease-in-out;

        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -ms-flex-direction: row;
        align-items: flex-start;

        @media (max-width: 1440px) {
            width: 1188px;
        }

        @media (max-width: 1366px) {
            width: 1080px;
        }

        @media (max-width: 1280px) {
            width: 100%;
        }

        @media (max-width: 960px) {
            flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
        }
    }
}

.content-container {
    width: calc(100% - 520px);
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    transition: all 150ms ease-in-out;

    @media (max-width: 1280px) {
        width: calc(100% - 480px);
    }

    @media (max-width: 960px) {
        height: auto;
        width: 100%;
    }

    .info-container {
        transition: all 150ms ease-in-out;

        @media (max-width: 960px) {
            text-align: center;
        }

        h1 {
            font-size: 2.5rem;
            line-height: 3.5rem;
        }

        p {
            font-size: 1.25rem;
            margin-top: 32px;
            color: $gray;
        }

        .button-container {
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
            -ms-flex-direction: row;
            align-items: center;
            margin-top: 48px;
            transition: all 150ms ease-in-out;

            @media (max-width: 960px) {
                justify-content: center;
            }

            .margin-right {
                margin-right: 16px;
            }
        }
    }
}

.form-card-container {
    min-width: 520px;
    max-width: 520px;
    background: $white;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
    border: 1px solid $border;
    padding: 24px;
    transition: all 150ms ease-in-out;

    @media (max-width: 1280px) {
        min-width: 480px;
        max-width: 480px;
    }

    @media (max-width: 960px) {
        min-width: 600px;
        max-width: 600px;
        margin: 0 auto 40px auto;
    }

    @media (max-width: 768px) {
        min-width: 100%;
        max-width: 100%;
        margin: 0 0 40px 0;
    }

    @media (max-width: 600px) {
        padding: 16px;
    }

    .label {
        font-size: 1rem;
        font-weight: 500;
        color: $black;
        margin: 0;
        margin-bottom: 4px;

        &.margin-top {
            margin-top: 16px;
        }

        &.margin-top-2 {
            margin-top: 24px;
        }
    }

    .address-text-container {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -ms-flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 24px;

        span {
            font-weight: 500;
            margin-right: 8px;
        }

        .address-text {
            color: $black;
            font-size: .875rem;
            font-weight: 500;
            max-width: 100%;
            overflow-x: scroll;
            white-space: nowrap;
            border-radius: 4px;
            padding: 8px;
            background: #F8F8F8;
        }

        i {
            color: $gray-dark;
            margin-left: 16px;
            cursor: pointer;
        }
    }

    .get-swap-container {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -ms-flex-direction: row;
        align-items: center;
        justify-content: space-between;

        font-size: 1rem;
        font-weight: 400;
        color: $black;
        width: 100%;
        padding: 16px;
        margin-top: 12px;
        border-radius: 6px;
        background: rgba(22, 82, 240, 0.0575);
    }

    .submit-button {
        width: 100%;
        margin-top: 24px;
    }
}

.crypto-input-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border: 2px solid $border;
    border-radius: 6px;
    padding: 12px 12px 12px 18px;
    transition: border 150ms ease-in-out;

    &.focused {
        border-color: $primary;
    }

    .MuiIconButton-root {
        margin-top: -4px;
        height: 35px !important;
        min-width: 35px !important;
        max-width: 35px !important;
    }
}

.crypto-symbol {
    font-size: .875rem;
    padding-left: 6px;
}

.crypto-input-icon {
    width: 140px;
}

.crypto-input-send {
    width: calc(100% - 35px);
}

.balance-container {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    font-size: .875rem;
    font-weight: 500;
    margin-top: 4px;
}